body{
  background: #E3E3E3;
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 0 50px 0 50px;
}
span{
  font-family: 'Libre Baskerville', serif;
  font-size: 55px;
}
.header{
  background: #E3E3E3;
  text-align: center;
}
.h3{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  display: inline-block;
  color: black;
}
.h3:hover{
  color: black;
}

.article{
  border-radius: 16px;
  background:#F6F6F8;
  color: black;
  padding: 50px;
}
p{
  font-size: 1.2rem;
  line-height: 2;
}
